# .env.example
NEXT_PUBLIC_SUPABASE_URL=https://curzvsoozzlthbqbkeed.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1cnp2c29venpsdGhicWJrZWVkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI4NjI0NTMsImV4cCI6MjA3ODQzODQ1M30.FB6w5IBCTFXPBq-FLOnkgdQWaMaJUL8uMR_ZG0bDRBQ
SUPABASE_SERVICE_ROLE_KEY=yeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1cnp2c29venpsdGhicWJrZWVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Mjg2MjQ1MywiZXhwIjoyMDc4NDM4NDUzfQ.sy8DCjC_4rsJy_kBzjl23Tu1wPhUu6JkTHg-NsNVA3k
GEMINI_API_KEY=AIzaSyB3S8xP3vSLzpu7FWfD4lWnnHx4YKIi4Ls